@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login-message {
  @include flex(row, center, start);
  background-color: $color-background-primary;

  &__container {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    max-width: $max-width;
    @include flex(row, center, center);
  }

  &__text {
    @include subheading($color-text-primary);
  }

  &__link {
    font-weight: 700;
    color: $color-button-primary;

    &:hover {
      color: $color-button-secondary;
    }
  }
}
