@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

.article {
  @include flex(row, center, center);
  gap: 1rem;

  @include tablet-and-desktop {
    @include flex(column, center, center);
    
    &:hover {
      animation: rotate 3s;
    }
  }

  &__heading {
    @include subheading($color-text-secondary);

    @include tablet-and-desktop {
      margin-bottom: 0;
    }

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__icon {
    margin-bottom: 1rem;
  }
}
