@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.recommend {
  margin-bottom: 2rem; 
  
  &__heading {
    @include subheading($color-text-quinary);

    &--dark {
      color: $color-dark-text-quaternary;
    }
  }

  &__text {
    @include body-text($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__encourage {
    @extend .recommend__text;
    font-weight: 600;

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__generator {
    @include flex(row, start, start);
  }

  &__subheading {
    @include subheading($color-text-secondary);
    border-radius: 20px;
    background-color: $color-background-quaternary;
    padding: 1rem 2rem;
    margin: 1rem auto;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      background-color: $color-dark-background-quaternary;
    }

    &--dark {
      background-color: $color-dark-background-quaternary;
      color: $color-dark-text-primary;

      &:hover {
        background-color: $color-background-quaternary;
      }
    }
  }

  &__error {
    @include body-small-text($color-text-error);
    text-align: center;
  }
}
