@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.score {
  margin-bottom: 2rem;
  @include flex(column, center, center);

  &__heading {
    @include subheading($color-text-quinary);
    text-align: center;
    margin: 0 0 0.5rem 0;

    &--dark {
      color: $color-dark-text-quaternary;
    }
  }

  &__container {
    @include flex(row, start, center);
    gap: 0.5rem;

    @include tablet-and-desktop {
      gap: 0.75rem;
    }
  }

  &__subheading {
    @include body-text($color-text-primary);
    font-weight: 600;
    margin: 0;
    text-align: center;

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__text {
    @include body-text($color-text-primary);
    margin: 0;
    text-align: center;

    &--dark {
      color: $color-dark-text-primary;
    }
  }
}
