@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.overlay {
  @include tablet-and-desktop {
    background-color: $color-shadow-primary;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  background-color: $color-background-secondary;
  padding: 1.5rem;

  @include tablet-and-desktop {
    width: 80%;
    height: auto;
    top: 25px;
    left: 10%;
    border: 5px solid $color-border-quaternary;
    border-radius: 20px;
    padding: 2rem 2rem 0.5rem 2rem;
  }

  @include desktop {
    width: 60%;
    left: 20%;
  }

  &--dark {
    background-color: $color-dark-background-primary;
    border-color: $color-dark-border-quaternary;
  }

  &__icon {
    position: absolute;
    right: 0;
    padding-right: 1rem;
    cursor: pointer;
  }

  &__fieldset {
    padding-top: 3.5rem;
    border: none;

    @include tablet-and-desktop {
      padding-top: 0;
    }
  }

  &__label {
    @include subheading($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__text {
    @include body-text($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__input {
    @include body-text($color-text-primary);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    border-radius: 5px;
    border: 1px solid $color-border-primary;
    padding: 0.5rem;
    width: 100%;
    height: 3rem;
    margin-top: 1.5rem;

    @include tablet-and-desktop {
      margin-top: 0.5rem;
    }

    &--height {
      height: 8rem;
    }

    &--dark {
      background-color: $color-dark-background-secondary;
      color: $color-dark-text-primary;
      border-color: $color-dark-border-primary;
    }

    &:active,
    &:focus {
      border: none;
      outline: 1px solid $color-border-quaternary;
    }
  }

  &__error {
    @include body-small-text($color-text-error);
    text-align: center;
    margin: 0 0 0.5rem 0;
  }

  &__success {
    @include body-text($color-text-quinary);
    text-align: center;

    &--dark {
      color: $color-dark-text-quaternary;
    }
  }

  &__button {
    @include flex(row, center, center);
  }
}
