@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/NunitoSans_10pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/NunitoSans_10pt-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../../assets/fonts/NunitoSans_10pt-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../../assets/fonts/Lora-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
}
