$max-width: 1020px;
$max-height: 500px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$color-background-primary: #ffffff;
$color-background-secondary: #fbf8f8;
$color-background-tertiary: #257180;
$color-background-quaternary: #55b06d;
$color-background-quinary: #6587e4;
$color-dark-background-primary: #383838;
$color-dark-background-secondary: #181C14;
$color-dark-background-tertiary: #CB6040;
$color-dark-background-quaternary: #387478;
$color-dark-background-quinary: #18327c;
$color-dark-background-senary: #7E60BF;
$color-dark-background-septenary: #021b5d;

$color-shadow-primary: rgba(0, 0, 0, 0.5);

$color-text-primary: #383838;
$color-text-secondary: #ffffff;
$color-text-tertiary: #6587e4;
$color-text-quaternary: #f67242;
$color-text-quinary: #55b06d;
$color-dark-text-primary: #c3b9b9;
$color-dark-text-secondary: #383838;
$color-dark-text-tertiary: #9f411f;
$color-dark-text-quaternary: #245c33;
$color-dark-text-quinary: #18327c;
$color-dark-text-senary: #292929;
$color-text-error: #e72b2b;

$color-border-primary: #383838;
$color-border-secondary: #55b06d;
$color-border-tertiary: #6587e4;
$color-border-quaternary: #f67242;
$color-dark-border-primary: #ffffff;
$color-dark-border-secondary: #245c33;
$color-dark-border-tertiary: #18327c;
$color-dark-border-quaternary: #9f411f;
$color-border-error: #e72b2b;

$color-button-primary: #f67242;
$color-button-secondary: #9f411f;
$color-dark-button-primary: #9f411f;
$color-dark-button-secondary: #752305;
