@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.journal-entry {
  background-color: $color-background-secondary;
  @include border($color-border-quaternary);
  margin-bottom: 1rem;

  @include tablet-and-desktop {
    margin: auto;
    width: 48%;
  }

  @include desktop {
    width: 30%;
  }

  &--dark {
    background-color: $color-dark-background-secondary;
    border-color: $color-dark-border-quaternary;
  }

  &__subheading {
    @include body-small-text($color-text-quaternary);
    margin-bottom: 0;
    margin-top: 0;

    &--dark {
      color: $color-dark-text-tertiary;
    }
  }

  &__date {
    @include body-small-text($color-text-quaternary);
    margin: 0;
    text-align: right;

    &--dark {
      color: $color-dark-text-tertiary;
    }
  }

  &__text {
    @include body-small-text($color-text-primary);
    margin-top: 0;

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__icons {
    @include flex(row, space-between, start);
    cursor: pointer;
  }
}
