@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.auth-form {
  &__fieldset {
    border: none;
    padding: 0;
    @include flex(column, center, start);

    @include tablet-and-desktop {
      @include flex(row, space-around, center);
      gap: 1rem;
      padding: 0 4rem;
    }
  }

  &__label {
    @include subheading($color-text-primary);
    margin-top: 0.5rem;
    width: 100%;
  }

  &__input {
    @include body-text($color-text-primary);
    border-radius: 5px;
    border: 1px solid $color-border-primary;
    padding: 0.25rem;

    &:active,
    &:focus {
      border: none;
      outline: 1px solid $color-border-quaternary;
    }

    &--spacing {
      width: 85%;

      @include tablet-and-desktop {
        width: 42%;
      }
    }

    &--error {
      border: none;
      outline: 2px solid $color-border-error;
    }
  }

  &__button {
    @include flex(row, center, center);
    margin: 1rem 0 0 0;
  }

  &__error {
    @include body-small-text($color-text-error);
    width: 15rem;
    padding-top: 0.25rem;
    text-align: center;

    @include tablet-and-desktop {
      width: 80%;
      margin: auto;
    }
  }

  &__text {
    @include body-small-text($color-text-tertiary);
    padding: 0.5rem 0;
    width: 15rem;
    margin-bottom: 0;
    text-align: center;

    &--success {
      color: $color-text-quinary;
    }

    @include tablet-and-desktop {
      width: 80%;
      margin: auto;
    }
  }

  &__link {
    @include body-text($color-text-tertiary);
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    width: 15rem;

    @include tablet-and-desktop {
      width: 100%;
    }

    &:hover {
      color: $color-dark-text-quinary;
    }
  }
}
