@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

@keyframes twist {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(0);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.inspiration {
  @include border($color-border-tertiary);
  margin: 2rem auto;
  text-align: center;
  background-color: $color-background-secondary;

  &--dark {
    border-color: $color-dark-border-tertiary;
    background-color: $color-dark-background-secondary;
  }

  @include tablet-and-desktop {
    width: 45rem;
  }

  &__heading {
    @include subheading($color-text-tertiary);
  }

  &__text {
    @include body-text($color-text-primary);

    &--dark {
      color: $color-dark-text-primary;
    }
  }

  &__container {
    @include flex(row, center, center);
  }

  &__activity {
    @include subheading($color-text-secondary);
    background-color: $color-background-quinary;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $color-dark-background-quinary;
    }

    &--animation {
      animation: twist 3s;
    }

    &--dark {
      color: $color-dark-text-primary;
      background-color: $color-dark-background-quinary;

      &:hover {
        background-color: $color-background-quinary;
      }
    }
  }

  &__icon {
    @include icon;
  }

  &__error {
    @include body-small-text($color-text-error);
    text-align: center;
    margin: 0 0 0.5rem 0;
  }
}
